<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/citations.css", type=text/css>
        <link rel="stylesheet" href="../static/pageButtons.css">
        <title>Introduction & Theory</title>
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['$', '$']]
                },
                svg: {
                    fontCache: 'global'
                }
            };
        </script>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>
    </head>
    <body>
        <h1 class="title">Gain Calibratioin for Array of PMT's for EXO-100's TPC&nbsp;&nbsp;&nbsp;&nbsp; <span class="honors-link"> <a href="https://drive.google.com/file/d/1GN49uLHQNL1AerRcZOyGSoTKI57S6upf/view?usp=sharing" target="_blank">Link to Honors Thesis PDF </a></span> </h1>
        <p class="beginning"> 
            <button class="introandtheory" onclick="window.location.href='http://192.168.0.122:5000/'">Abstract & Acknowledgments</button> 
            <button class="apparatus" onclick="window.location.href='http://192.168.0.122:5000/Apparatus'">Apparatus</button> 
            <button class="procedure" onclick="window.location.href='http://192.168.0.122:5000/IntroAndTheory'">Introduction & Theory</button> 
            <button class="dataAnalysis" onclick="window.location.href='http://192.168.0.122:5000/DataAnalysis'">Data Analysis</button> 
            <button class="conclusion" onclick="window.location.href='http://192.168.0.122:5000/Conclusions'">Conclusion</button> 
            <button class="appendix" onclick="window.location.href='http://192.168.0.122:5000/Appendix'">Appendices</button> 
            <br>Included within this page are buttons to take you to other parts of the paper and References.
        </p>

        <h1 class="references-title">References</h1>
        <p class="references-des">
            <ol>
                <dt class="one">
                    <cite class="one">[1] &nbsp;&nbsp;&nbsp;&nbsp; Collaboration, C. U. O. R. E., Adams, D. Q., Alduino, C., Alfonso, K., Avignone III, F. T., Azzolini, O., Bari, G., Bellini, F., Benato, G., Biassoni, M., Branca, A., Brofferio, C., Bucci, C., Caminata, A., Campani, A., Canonica, L., Cao, X. G., Capelli, S., Cappelli, L., … Zucchelli, S. (2019, December 23). Improved limit on neutrinoless double-beta decay in $^{130}$Te with Cuore. arXiv.org. Retrieved May 2, 2022, from <a href="https://arxiv.org/abs/1912.10966" target="_blank">https://arxiv.org/abs/1912.10966</a>
                        
                    </cite>
                </dt>

                <dt class="second">
                    <cite class="second">
                    [2]&nbsp;&nbsp;&nbsp;&nbsp;Delaquis, S. C. (2015). Construction and operation of the Exo-100 cryogenic facility for R $\&$ D in liquid xenon: advances in barium ion tagging (Ph.D thesis). Universität Bern, Bern.
                    </cite>
                </dt>
                <dt class="third">
                    <cite class="third">
                        [3]&nbsp;&nbsp;&nbsp;&nbsp;Ackerman, N., Aharmim, B., Auger, M., Auty, D. J., Barbeau, P. S., Barry, K., Bartoszek, L., Beauchamp, E., Belov, V., Benitez-Medina, C., Breidenbach, M., Burenkov, A., Cleveland, B., Conley, R., Conti, E., Cook, J., Cook, S., Coppens, A., Counts, I., … Zeldovich, O. Y. (2015, June 28). Observation of two-neutrino double-beta decay in XE136 with the EXO-200 detector. University of Illinois Urbana-Champaign. Retrieved May 2, 2022, from <a href="https://experts.illinois.edu/en/publications/observation-of-two-neutrino-double-beta-decay-in-xe136-with-the-e" target="_blank">https://experts.illinois.edu/en/publications/observation-of-two-neutrino-double-beta-decay-in-xe136-with-the-e</a>
                    </cite>
                </dt>

                <dt class="fourth">
                    <cite class="fourth">
                        [4]&nbsp;&nbsp;&nbsp;&nbsp;Libretexts. (2020, November 5). 11.3: Particle conservation laws. Physics LibreTexts. Retrieved May 2, 2022, from <a href="https://phys.libretexts.org/Bookshelves/University_Physics/Book%3A_University_Physics_(OpenStax)/University_Physics_III_-_Optics_and_Modern_Physics_(OpenStax)/11%3A_Particle_Physics_and_Cosmology/11.03%3A_Particle_Conservation_Laws " target="_blank">https://phys.libretexts.org/Bookshelves/University_Physics/Book%3A_University_Physics_(OpenStax)/University_Physics_III_-_Optics_and_Modern_Physics_(OpenStax)/11%3A_Particle_Physics_and_Cosmology/11.03%3A_Particle_Conservation_Laws </a>
                    </cite>
                </dt>

                <dt class="fifth">
                    <cite class="fifth">
                        [5]&nbsp;&nbsp;&nbsp;&nbsp;Robson, B. A. (2022, February 24). Parity violation in weak nuclear interactions. Journal of High Energy Physics, Gravitation and Cosmology. Retrieved May 2, 2022, from <a href="https://www.scirp.org/journal/paperinformation.aspx?paperid=116456" target="_blank">https://www.scirp.org/journal/paperinformation.aspx?paperid=116456</a>
                    </cite>
                </dt>

                <dt class="sixth">
                    <cite class="sixth">
                        [6]&nbsp;&nbsp;&nbsp;&nbsp;Capozzi, F., Di Valentino, E., Lisi, E., Marrone, A., Melchiorri, A., $\&$amp; Palazzo, A. (2017, March 13). Global constraints on absolute neutrino masses and their ordering. arXiv.org. Retrieved May 2, 2022, from <a href="https://arxiv.org/abs/1703.04471" target="_blank">https://arxiv.org/abs/1703.04471</a>
                    </cite>
                </dt>

                <dt class="seventh">
                    <cite class="seventh">
                        [7]&nbsp;&nbsp;&nbsp;&nbsp;Nexo. TRIUMF. (2021, March 5). Retrieved May 2, 2022, from <a href="https://fiveyearplan.triumf.ca/teams-tools/nexo-next-enriched-xenon-observatory/" target="_blank">https://fiveyearplan.triumf.ca/teams-tools/nexo-next-enriched-xenon-observatory/</a>
                    </cite>
                </dt>

                <dt class="eigth">
                    <cite class="eigth">
                        [8]&nbsp;&nbsp;&nbsp;&nbsp;Connor, N. (2019, December 14). What is quantum efficiency of photomultiplier tube - definition. Radiation Dosimetry. Retrieved May 2, 2022, from <a href="https://www.radiation-dosimetry.org/what-is-quantum-efficiency-of-photomultiplier-tube-definition/" target="_blank">https://www.radiation-dosimetry.org/what-is-quantum-efficiency-of-photomultiplier-tube-definition/</a> 
                    </cite>
                </dt>

                <dt class="ninth">
                    <cite class="ninth">
                        [9]&nbsp;&nbsp;&nbsp;&nbsp;Hamamatsu. (n.d.). Chapter 4 characteristics of photomultiplier tubes - hamamatsu. Retrieved May 2, 2022, from <a href="https://www.hamamatsu.com/content/dam/hamamatsu-photonics/sites/documents/99_SALES_LIBRARY/etd/PMT_handbook_v3aE-Chapter4.pdf" target="_blank">https://www.hamamatsu.com/content/dam/hamamatsu-photonics/sites/documents/99_SALES_LIBRARY/etd/PMT_handbook_v3aE-Chapter4.pdf</a> 
                    </cite>
                </dt>

                <dt class="tenth">
                    <cite class="tenth">
                        [10]&nbsp;&nbsp;&nbsp;&nbsp;Take online courses. earn college credit. Research Schools, Degrees &amp; Careers. Study.com | Take Online Courses. Earn College Credit. Research Schools, Degrees &amp; Careers. (n.d.). Retrieved May 4, 2022, from <a href="https://study.com/academy/lesson/how-photomultiplier-tubes-array-detectors-work.html" target="_blank">https://study.com/academy/lesson/how-photomultiplier-tubes-array-detectors-work.html</a>
                    </cite>
                </dt>

                <dt class="eleven">
                    <cite class="eleven">
                        [11]&nbsp;&nbsp;&nbsp;&nbsp;Connor, N. (2019, December 14). What is photocathode and dynodes in photomultiplier tube - definition. Radiation Dosimetry. Retrieved May 2, 2022, from <a href="https://www.radiation-dosimetry.org/what-is-photocathode-and-dynodes-in-photomultiplier-tube-definition/" target="_blank">https://www.radiation-dosimetry.org/what-is-photocathode-and-dynodes-in-photomultiplier-tube-definition/</a>
                    </cite>
                </dt>

                <dt class="twelve">
                    <cite class="twelve">
                        [12]&nbsp;&nbsp;&nbsp;&nbsp;Fritzsch, H., Solà, J., $\&$amp; Nunes, R. C. (2017, March 27). Running vacuum in the universe and the time variation of the fundamental constants of nature - the european physical journal C. SpringerLink. Retrieved May 2, 2022, from <a href="https://link.springer.com/article/10.1140/epjc/s10052-017-4714-z" target="_blank">https://link.springer.com/article/10.1140/epjc/s10052-017-4714-z</a>
                    </cite>
                </dt>

                <dt class="thirteen">
                    <cite class="thirteen">
                        [13]&nbsp;&nbsp;&nbsp;&nbsp;hamamatsu photonics. (n.d.). Photomultiplier tubes - hamamatsu photonics. Photomultiplier tubes. Retrieved May 2, 2022, from <a href="https://www.hamamatsu.com/content/dam/hamamatsu-photonics/sites/documents/99_SALES_LIBRARY/etd/PMT_handbook_v3aE.pdf" target="_blank">https://www.hamamatsu.com/content/dam/hamamatsu-photonics/sites/documents/99_SALES_LIBRARY/etd/PMT_handbook_v3aE.pdf</a>
                    </cite>
                </dt>

                <dt class="fourteen">
                    <cite class="fourteen">
                        [14]&nbsp;&nbsp;&nbsp;&nbsp;Ortec. (n.d.). Model 113 scintillation preamplifier operating and Service Manual. Model 113 scintillation preamplifier . Retrieved May 2, 2022, from <a href="https://www.ortec-online.com/-/media/ametekortec/manuals/1/113-mnl.pdf?la=en&amp;revision=22d4ec5a-8b3f-4feb-a757-b08dcfa7abbe" target="_blank">https://www.ortec-online.com/-/media/ametekortec/manuals/1/113-mnl.pdf?la=en&amp;revision=22d4ec5a-8b3f-4feb-a757-b08dcfa7abbe</a>
                    </cite>
                </dt>

                <dt class="fithteen">
                    <cite class="fithteen">
                        [15]&nbsp;&nbsp;&nbsp;&nbsp;pico technology. (n.d.). Picoscope 6000 series user's guide - pico technology. Picoscope 6000 series. Retrieved May 2, 2022, from <a href="https://www.picotech.com/download/manuals/ps6000.en-2.pdf" target="_blank">https://www.picotech.com/download/manuals/ps6000.en-2.pdf</a>
                    </cite>
                </dt>

                <dt class="sixteen">
                    <cite class="sixteen">
                        [16]&nbsp;&nbsp;&nbsp;&nbsp;team, R. O. O. T. (n.d.). Python interface: Pyroot. ROOT. Retrieved May 2, 2022, from <a href="https://root.cern/manual/python/" target="_blank">https://root.cern/manual/python/</a>
                    </cite>
                </dt>

                <dt class="seventeen">
                    <cite class="seventeen">
                        [17]&nbsp;&nbsp;&nbsp;&nbsp;Ruben, A. $\&$ Hoagland, Timothy & Fox, Ron $\&$ Kerr, Phil $\&$ Montermann, Gregor $\&$ Schneider, Robert. (2007). A new four channel pulse shape discriminator. 1. 681 - 684. 10.1109/NSSMIC.2007.4436424. 
                    </cite>
                </dt>

                <dt class="eigthteen">
                    <cite class="eigthteen">
                        [18]&nbsp;&nbsp;&nbsp;&nbsp;III electronic noise - www-physics.lbl.gov. (n.d.). Retrieved May 3, 2022, from <a href="https://www-physics.lbl.gov/~spieler/ICFA_2010/pdf/III_Electronic_Noise.pdf" target="_blank">https://www-physics.lbl.gov/~spieler/ICFA_2010/pdf/III_Electronic_Noise.pdf</a>
                    </cite>
                </dt>

                <dt class="ninteen">
                    <cite class="ninteen">
                        [19]&nbsp;&nbsp;&nbsp;&nbsp;hamamatsu. (n.d.). Photomultiplier tubes for gamma camera - hamamatsu. Retrieved May 3, 2022, from <a href="https://www.hamamatsu.com/content/dam/hamamatsu-photonics/sites/documents/99_SALES_LIBRARY/etd/Gamma_PMT_TPMH1133E.pdf" target="_blank">https://www.hamamatsu.com/content/dam/hamamatsu-photonics/sites/documents/99_SALES_LIBRARY/etd/Gamma_PMT_TPMH1133E.pdf</a>

                    </cite>
                </dt>

                <dt class="twenty">
                    <cite class="twenty">
                        [20]&nbsp;&nbsp;&nbsp;&nbsp;hamamatsu . (n.d.). Chapter 8 Photomultiplier Tube Modules - hamamatsu photonics. Retrieved May 3, 2022, from <a href="https://www.hamamatsu.com/content/dam/hamamatsu-photonics/sites/documents/99_SALES_LIBRARY/etd/PMT_handbook_v3aE.pdf" target="_blank">https://www.hamamatsu.com/content/dam/hamamatsu-photonics/sites/documents/99_SALES_LIBRARY/etd/PMT_handbook_v3aE.pdf</a>
                    </cite>
                </dt>

                <dt class="twentyone">
                    <cite class="twentyone">
                        [21]&nbsp;&nbsp;&nbsp;&nbsp;Model BH-1: Nim tail pulse generator. Tail Pulse Generator, Model BH-1 | Berkeley Nucleonics. (n.d.). Retrieved May 3, 2022, from <a href="https://www.berkeleynucleonics.com/model-bh-1-nim-tail-pulse-generator" target="_blank">https://www.berkeleynucleonics.com/model-bh-1-nim-tail-pulse-generator</a>
                    </cite>
                </dt>

                <dt class="twentytwo">
                    <cite class="twentytwo">
                        [22]&nbsp;&nbsp;&nbsp;&nbsp;Berkeley Nucleonics. (n.d.). BH-1 - Berkeley Nucleonics. BH-1. Retrieved May 3, 2022, from <a href="https://www.berkeleynucleonics.com/sites/default/files/products/datasheets/bh-1_datasheet.pdf" target="_blank">https://www.berkeleynucleonics.com/sites/default/files/products/datasheets/bh-1_datasheet.pdf</a> 
                    </cite>
                </dt>






            </ol>
        </p>




    </body>
</html>