<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/homepage.css", type=text/css>
        <link rel="stylesheet" href="../static/pageButtons.css">
        <title>Abstract, Acknowledgements, and Title</title>
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['$', '$']]
                },
                svg: {
                    fontCache: 'global'
                }
            };
        </script>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>

    </head>
    <body>
        <h1 class="title">Gain Calibratioin for Array of PMT's for EXO-100's TPC</h1>
        <p class="beginning"> 
            <button class="introandtheory" onclick="window.location.href='http://127.0.0.1:80/IntroAndTheory'">Introduction & Theory</button> 
            <button class="apparatus" onclick="window.location.href='http://127.0.0.1:80/Apparatus'">Apparatus</button> 
            <button class="procedure" onclick="window.location.href='http://127.0.0.1:80/Procedure'">Procedure</button> 
            <button class="dataAnalysis" onclick="window.location.href='http://127.0.0.1:80/DataAnalysis'">Data Analysis</button> 
            <button class="conclusion" onclick="window.location.href='http://127.0.0.1:80/Conclusions'">Conclusion</button> 
            <button class="appendix" onclick="window.location.href='http://127.0.0.1:80/Appendix'">Appendices</button> 
            <br>Included within this page are buttons to take you to other parts of the paper, the acknowledgements, and the abstract for my paper.
        </p>

        <h1 class="Abstract-title">Abstract</h1>
        <p class="Abstract">
            This report details the gain calibration of four photo-multiplier tubes (PMT) and their chain of electronics. The chain of electronics used to calibrate the PMT's was also calibrated. Each PMT has its own Ortec 113 pre-amplifier (PM) and each PM was calibrated using the same amplifier and oscilloscope for consistency. A total of 4 PM's and 4 PMT's were calibrated, which were labeled PM0-3 and PMT0-3, respectively. PM0 had a measured gain of 13,650 $\pm$ 75.52, PM1 had a measured gain of 13,905 $\pm$ 73.46, PM2 had a measured gain of 14,067 $\pm$ 44.74, and PM3 had a measured gain of 13,781 $\pm$ 64.12. PMT0 had a measured gain of 226,139 $\pm$ 44,773.53, PMT1 had a measured gain of 324,437 $\pm$ 22,213.29, PMT2 had a measured gain of 4892,00 $\pm$ 47,107.11, and PMT3 had a measured gain of 498,517 $\pm$ 106,086.12. Details on how this calibration was performed and data analyzed are within this report.

            

        </p>






        <h1 class="Ack-title">Acknowledgements</h1>
        <p class="Acknowledgements">
            The last year of my undergraduate study has been an impactful one, with life lessons appearing around every corner. I would like to extend my gratitude to my supervisor Razvan Gornea for helping me throughout my project. A special thanks to Robert Collister for always being available to answer my questions, even late at night after long days. You have been an amazing mentor over this last year, and i wish you the best. A final thank you to Clara Miller, my fiance, for always supporting me throughout my last year of undergrad. </p>
        
        <p class="footnote">Matthew Buckowski <br>Email: Mabuchkowski@protonmail.com <br>Phone: +1 (343)-882-9407 Or +1 (203)-502-3295 <br>Degrees: BSc Honors of Science in Astrophysics - Minor in Mathematics</p>
    </body>
</html>